*.tfstate
*.tfstate.backup
*.tfvars
terraform.tfvars

# Terraform local directories and provider binaries
.terraform/
**/.terraform/
.terraform.lock.hcl
**/.terraform.lock.hcl

# Sensitive local files
my-key
my-key.pub
